body{
    margin: 0;
}
div {
    width: 100px;
    height: 100px;
    position: absolute;
    /*top:0;*/
    /*right:0;*/
    /*left:0;*/
    /*bottom:0;*/
    /*margin: auto;*/
    border-radius: 15px;
    top:50%;
    left:50%;
    -webkit-box-shadow: 0 0 10px rgba(33, 12, 22, 0.56);
    -moz-box-shadow:  0 0 10px rgba(33, 12, 22, 0.56);
    box-shadow:  0 0 10px rgba(33, 12, 22, 0.56);
}
.middle{
    position: absolute;
    /*top:100px;*/
    /*right:0;*/
    /*left:0;*/
    /*bottom:0;*/
    /*margin: auto;*/
    margin: -50px 0 0 -50px;
    /*margin-top: -50px;*/
    /*margin-right: -10px;*/
    display:table;
    text-align: center;
}
.left{
    /*display: inline;*/
    /*position:absolute;*/
    /*margin: -75px 0px 0px -25px;*/
    margin: -50px 0 0 -150px;
    /*border-radius: 15px;*/
    background-color: aqua;
}
.top{
    /*display: inline-block;*/
    /*float:top;*/
    /*margin-left:75px;*/
    margin: -150px 0 0 -50px;
    /*border-radius: 15px;*/
    background-color: orangered;
}
.right{
    margin: -50px 0 0 50px;
    /*border-radius: 15px;*/
    background-color: darkblue;
}
.bottom{
    margin: 50px 0 0 -50px;
    /*border-radius: 15px;*/
    background-color: gold;
}
.pic{
    width:64px;
    height:64px;
    margin: 0 auto;
    /*display: block;*/
}
span{
    display:table-cell;
    vertical-align:middle;
}