html {
    color: #000;
    overflow-y: scroll;
    height: 100%;
    /*overflow: -moz-scrollbars;*/
}
body {
    height: 100%;
    min-width: 1000px;
    cursor: default;
}
body, form {
    position: relative;
    z-index: 0;
}
body {
    text-align: center;
}
body, button, input, select, textarea {
    font: 12px arial;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

#wrapper {
    height: 100%;
}

#head {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 768px;
    cursor: default;
}
.s-top-wrap {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ebebeb;
}
#s_top_wrap {
    position: absolute;
    z-index: 99;
    min-width: 1000px;
    width: 100%;
}
.s-top-wrap .s-top-nav {
    position: absolute;
    top: 74px;
    width: 100%;
    _width: 1000px;
    height: 40px;
    overflow: hidden;
    display: none;
}
#s_top_wrap.s-down .s-center-box {
    box-shadow: 0 0 5px #888;
    border-bottom: 1px solid #888\9;
    _border-bottom: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.95)),to(rgba(255,255,255,.95))) !important;
    background-image: -moz-linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    background-image: -ms-linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    background-image: -o-linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    background-image: linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2ffffff,endColorstr=#f2ffffff) !important;
}
.s-top-wrap .s-center-box {
    position: relative;
    z-index: 1;
    width: 100%;
    _width: 1000px;
    height: 100%;
}

#u_sp {
    z-index: 500;
}
#u_sp {
    z-index: 500;
}
#u_sp {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 590px;
    font-size: 13px;
    text-align: right;
    color: #999;
}
.s-sp-menu .mnav {
    font-weight: bold;
}
.s-sp-menu a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-left: 19px;
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;
    text-shadow: none;
}
a {
    text-decoration: none;
}
#u_sp .s-user-name-top {
    position: relative;
}
#u_sp .s-user-name-top, #u_sp .s-user-setting-top, #u_sp .s_bri {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
}
#u_sp .s-user-name-top {
    margin-right: 0;
    height: 32px;
    font-weight: normal;
}
.s-user-name-top .user-name {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    _width: 64px;
    text-decoration: underline;
}
.s-user-setting-top .setting-text {
    text-decoration: underline;
    display: inline-block;
}
#u_sp .s_bri {
    width: 86px;
    height: 32px;
    line-height: 32px;
    color: white;
    /*background: #38f;*/
    background: #398bfb;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #398bfb;
    text-decoration: none;
}

.s-user-set-menu {
    padding-top: 6px;
    top: 26px;
    position: absolute;
    right: 84px;
    float: right;
    width: 100px;
    z-index: 999;
    text-align: left;
}
.s-user-set-menu.menu-top {
    width: 70px;
}
.s-user-set-menu div {
    position: relative;
    border: 1px solid #E3E3E3;
    box-shadow: 1px 1px 5px #d1d1d1;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -webkit-box-shadow: 1px 1px 5px #d1d1d1;
}
.s-user-set-menu a {
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    padding-left: 8px;
    background-color: #fff;
    -moz-user-select: none;
    cursor: pointer;
    text-align: left;
    display: block;
    color: #333;
    margin: 0;
    font-size: 12px;
}
#s_user_name_menu.s-user-set-menu a, #s_user_setting_menu.s-user-set-menu a {
    text-shadow: none;
    color: #000;
}
.s-user-set-menu.menu-top .menu-arrow {
    float: right;
    right: 32px;
}
.s-user-set-menu .menu-arrow {
    position: absolute;
    z-index: 2;
    top: -4px;
    left: 28px;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed transparent;
    border-bottom: 5px solid #e3e3e3;
    font-size: 0;
}
.s-user-set-menu .menu-arrow em {
    position: absolute;
    top: -4px;
    left: -5px;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: #666;
    border-top: 5px dashed transparent;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-bottom: 5px solid #fff;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

#head_wrapper {
    position: relative;
    /*height: 38.2% !important;*/
    min-height: 293px;
    height: 38.2% !important;
    width: 1000px;
    margin: 0 auto;
    _height: 293px;
}
.s_form {
    width: 641px;
    height: 100%;
    min-height: 293px;
    margin: 0 auto 0 auto;
    text-align: left;
    z-index: 100;
}
.s_form_wrapper {
    height: 100%;
}
#head_wrapper .s-p-top {
    height: 61.8%;
    min-height: 181px;
    position: relative;
    z-index: 0;
    text-align: center;
}
#s_lg_img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -135px;
}
img {
    border: 0;
}
#form {
    z-index: 1;
}
#s_user_name_menu.s-user-set-menu a:hover, #s_user_setting_menu.s-user-set-menu a:hover {
    background: #38F;
    color: #FFF;
    text-decoration: none;
}


#head_wrapper.s-down .s_btn_wr, .s_ipt_wr, .s_btn_wr {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.soutu-env-newindex .quickdelete-wrap {
    position: relative;
}
#kw {
    margin: 0;
}
#head_wrapper.s-down #kw, #kw {
    width: 521px;
    height: 20px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    vertical-align: top;
    outline: none;
    box-shadow: none;
}
.soutu-btn {
    z-index: 1;
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    background: #fff url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) no-repeat;
    /*background-image: -webkit-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);*/
    /*background-image: -moz-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);*/
    /*background-image: -o-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);*/
    /*background-image: -ms-image-set(url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) 1x,url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_x2_fb6c085.png) 2x);*/
    cursor: pointer;
}
.soutu-btn:hover {
    background-position: 0 -20px;
}
.soutu-env-newindex.soutu-env-nomac #kw {
    width: 480px!important;
    padding-right: 48px!important;
}

#head_wrapper.s-down .s_btn_wr, .s_btn_wr {
    float: right;   /**/
    width: 102px;
    height: 38px;
    border: 1px solid #38f;
    border-bottom: 1px solid #2e7ae5;
    background-color: #38f;
}
#head_wrapper.s-down .s_btn_wr, .s_ipt_wr, .s_btn_wr {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
#head_wrapper.s-down .btn, .s-title-img .btn {
    cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}
.s_btn_wr:hover {
    border-bottom: 1px solid #2771d9;
}

#head_wrapper.s-down {
    position: fixed;
    _position: static;
    top: 0;
    left: 50%;
    height: 50px;
    min-height: 50px;
    z-index: 20;
    width: 802px;
    padding-top: 9px;
    margin-left: -447px;
    _margin: 0 auto;
}
.s-down .s_form {
    padding-left: 0;
    margin-top: 0;
    min-height: 0;
}
#head_wrapper.s-down .s_form {
    min-width: 550px;
    margin: 0;
    width: 100%;
    height: 100%;
}
#head_wrapper.s-down .s_form_wrapper {
    width: 805px;
}
#head_wrapper.s-down .s-p-top {
    display: none;
}
#s_tab, #wrapper_wrapper, #u, #result_logo {
    display: none;
}
#head_wrapper.s-down #result_logo img {
    width: 101px;
}
#head_wrapper.s-down .fm, #head_wrapper.s-down #result_logo {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
#head_wrapper.s-down .fm {
    margin: 8px 0 0 25px;
}
#head_wrapper.s-down .fm, #head_wrapper.s-down #result_logo {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
#s_top_wrap.s-down {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    height: 74px;
    z-index: 10;
    width: 100%;
    background-color: white;
}
#head_wrapper2{
    position: relative;
    height: 38.2%;
    min-height: 293px;
    width: 1000px;
    margin: 0 auto;
    _height: 293px;

}



#head_wrapper.s-down .btn:hover, #head_wrapper.s-down .btn.btnhover, .s-title-img .btn:hover, .s-title-img .btn.btnhover {
    height: 39px;
    _height: 38px;
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}
#head_wrapper.s-down .btn:hover, #head_wrapper.s-down .btn.btnhover, .s-title-img .btn:hover, .s-title-img .btn.btnhover {
    height: 39px;
    _height: 38px;
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}



#s_wrap {
    width: 100%;
    _width: 1000px;
    margin: 0 auto;
    position: relative;
}
#s_wrap {
    position: relative;
    z-index: 0;
    min-width: 1000px;
}
#s_main {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 895px;
}
.clearfix {
    zoom: 1;
}
.s-mancacrd-main {
    position: relative;
    z-index: 2;
}
.s-menu-gurd, .s-menu-container {
     width: 100%;
     min-height: 35px;
     _height: 35px;
}
.s-ctner-menus {
    position: relative;
    z-index: 11111;
    width: 893px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    height: 39px;
    line-height: 39px;
}
.main a, .main span {
    outline: none;
}
.s-ctner-menus .s-menu-item {
    color: #333;
    width: 80px;
    height: 39px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}
.s-menu-gurd .s-ctner-menus .s-menu-mine {
    float: left;
    text-align: left;
    width: 124px;
}
.s-menu-gurd .s-ctner-menus .s-menu-mine, .s-ctner-menus .s-menu-mine .mine-icon, .s-ctner-menus .s-menu-mine .mine-text {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}


.s-ctner-menus .s-menu-mine .mine-icon {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    background: url(../img/card_setts_fdb17359.png) no-repeat -15px 0;
    /*_background: url(../img/card_setts_ie_57e87032.png) no-repeat -15px 0;*/
}
.s-ctner-menus .s-menu-mine .mine-text {
    height: 100%;
    margin-left: 3px;
}
.s-ctner-menus .s-menus-outer {
    float: left;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    -moz-align-items: stretch;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 719px;
}
.s-ctner-menus .menus-wrapper, .s-ctner-menus .s-menu-setting {
    display: inline-block;
    zoom: 1;
    float: left;
    vertical-align: top;
    height: 100%;
}
.s-ctner-menus .s-menus-outer .menus-wrapper {
    width: auto;
}
.s-ctner-menus .s-menu-item {
    color: #333;
    width: 80px;
    height: 39px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

.s-ctner-menus .s-menus-outer .s-bg-space {
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
    height: 38px;
}
.s-ctner-menus .menus-wrapper, .s-ctner-menus .s-menu-setting {
    display: inline-block;
    zoom: 1;
    float: left;
    vertical-align: top;
    height: 100%;
}
.s-ctner-menus .s-menu-setting {
    float: right;
    width: 18px;
    padding: 0 21px 0 11px;
    cursor: pointer;
}
.s-ctner-menus .s-menu-setting {
    height: 39px;
}
.s-ctner-menus .menu-icon {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background: url(../img/card_setts_fdb17359.png) no-repeat -121px -49px;
    /*_background: url(../img/card_setts_ie_57e87032.png) no-repeat -121px -49px;*/
}
.s-ctner-contents {
    width: 893px;
    min-height: 363px;
    _height: 363px;
    _overflow: visible;
    border: 1px solid #e9e9e9;
}
.s-ctner-menus .s-menu-item:hover {
    margin-top: -1px;
    margin-bottom: -1px;
    border-top: 1px solid #b3b6bb;
    border-bottom: 1px solid #b3b6bb;
}
.s-ctner-menus .s-menu-item:hover {
    background-color: #b3b6bb !important;
    color: #fff;
    background-image: none !important;
    filter: none !important;
}
.s-ctner-menus .current, .s-ctner-menus .current:hover {
    margin-bottom: -1px;
    margin-top: -1px;
    border-top: 1px solid #9a9da2;
    border-bottom: 1px solid #9a9da2;
}
.s-ctner-menus .current, .s-ctner-menus .current:hover {
    _position: relative;
    background-color: #9a9da2 !important;
    color: #fff;
    font-weight: bold;
    background-image: none !important;
    filter: none !important;
}
.s-ctner-contents .s-news-split {
    height: 363px;
    overflow: hidden;
}
.s-xmancard-news {
    position: relative;
    width: 843px;
    padding: 0 25px 0 25px;
}
.s-xmancard {
    min-height: 318px;
    _height: 318px;
}
/*右边实时*/
.s-news-rank-wrapper {
    position: absolute;
    right: 5px;
    width: 300px;
    margin-top: 20px;
    text-align: left;
}
.s-news-rank-wrapper .s-rank-title {
    height: 30px;
    width: 270px;
}
.s-news-rank-wrapper .s-rank-title .title-text {
    float: left;
    height: 22px;
    width: 94px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
}
.s-news-rank-wrapper .s-rank-title .title-text a {
    text-decoration: none;
    color: #333;
}
.s-news-rank-wrapper .s-rank-title .hot-refresh {
    display: block;
    float: right;
    height: 22px;
    padding-top: 3px;
    width: 60px;
    cursor: pointer;
}
.s-news-rank-wrapper .s-rank-title .hot-refresh-text, .s-news-rank-wrapper .s-rank-title .hot-refresh-icon {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.news-meta-item .news-title .title-link .title-content {
    max-width: 113px;
    _width: 113px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.s-news-rank-wrapper .s-rank-title .hot-refresh-icon {
    width: 20px;
    height: 16px;
    background: url(../img/news_88aeb6fe.png) -23px -25px no-repeat;
    /*_background: url(../../img/news/news_ie6_d5a33c4f.png) -23px -25px no-repeat;*/
    vertical-align: bottom;
}
.s-news-rank-wrapper .s-rank-title .hot-refresh-text {
    font-size: 13px;
    width: 40px;
    text-align: center;
    white-space: nowrap;
}
.s-news-rank-wrapper .s-news-rank-content {
    position: relative;
    list-style: disc;
}
.news-meta-item {
    width: 145px;
    margin-right: 3px;
    display: inline-block;
    zoom: 1;
    list-style: square;
}
.s-news-special-rank-wrapper .news-meta-item .news-title {
    width: 136px;
}
.news-meta-item .news-icon, .news-meta-item .news-title, .news-meta-item .news-count {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}
.news-meta-item .news-title .title-link {
    float: left;
    display: block;
    font-size: 14px;
}
.news-meta-item .news-title .title-link .title-content, .news-meta-item .news-title .new-identity {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.news-meta-item .news-title .new-identity {
    display: none;
    /*display: inline-block;*/
    height: 20px;
    width: 18px;
    margin-left: 5px;
    background: url(../img/news_88aeb6fe.png) 0 -98px no-repeat;
    /*_background: url(../../img/news/news_88aeb6fe.png) 0 -98px no-repeat;*/
}
.s-news-rank-wrapper .news-artist .news-title .new-identity {
    display: inline-block;
    _display: none;
}
.s-news-special-rank-wrapper .news-meta-item .title-link .new-identity {
    width: 18px;
    background: url(../img/news_88aeb6fe.png) -57px -98px no-repeat;
    /*_background: url(../../img/news/news_ie6_d5a33c4f.png) -57px -98px no-repeat;*/
}
.news-meta-item .news-title .title-link a:hover {
    color: #0079f4;
}

/*兴趣推荐*/
.s-xmancard-news .news-flash-tips {
    width: 100%;
    height: 38px;
    text-align: left;
}
.s-xmancard-news .news-flash-tips .left-line, .s-xmancard-news .news-flash-tips .right-line {
    height: 0;
    width: 172px;
    font-size: 0;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 21px;
}
.s-xmancard-news .news-flash-tips .left-line, .s-xmancard-news .news-flash-tips .right-line, .s-xmancard-news .news-flash-tips .tips-content, .s-xmancard-news .news-flash-tips .tips-icon, .s-xmancard-news .news-flash-tips span {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.s-xmancard-news .news-flash-tips .tips-content {
    width: 187px;
    padding-top: 21px;
    margin: 0 auto;
}
.s-xmancard-news .news-flash-tips .tips-icon {
    height: 14px;
    width: 12px;
    margin: 0 6px 0 6px;
    background: url(../img/news_88aeb6fe.png) no-repeat -45px -1px;
    /*_background: url(../../img/news/news_ie6_d5a33c4f.png) no-repeat -45px -2px;*/
}
.s-xmancard-news .news-flash-tips span {
    font-size: 13px;
    /*color: #999;*/
    color: rgba(0, 0, 0, .4);
}

.s-news-wrapper .s-news-list-wrapper {
    float: left;
    text-align: left;
    width: 538px;
    /*_padding-right: none;*/
}
.s-news-wrapper .s-news-list-wrapper:first-child {
    padding-top: 0;
}
.s-news-wrapper .s-news-list-wrapper:first-child .s-news-special:first-child {
    border-top: 0;
}
.s-news-wrapper .s-news-list-wrapper:first-child .s-news-item:first-child {
    border-top: 0;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 .s-pic-content {
    display: table-cell;
    vertical-align: middle;
    zoom: 1;
    padding: 20px 0;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 .s-pic-content .s-pic-content-own {
    zoom: 1;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .s-pic-content .s-news-content-imgs {
    font-size: 0;
}
.s-news-wrapper .s-news-list-wrapper .item-img-wrap {
    display: inline-block;
    zoom: 1;
    height: 106px;
    width: 176px;
    overflow: hidden;
    position: relative;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .item-img-wrap {
    display: inline-block;
    zoom: 1;
    height: 119px;
    width: 180px;
    overflow: hidden;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
fieldset, img {
    border: 0;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .item-img-wrap img {
    height: 119px;
    width: 179px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 .s-block-container {
    vertical-align: middle;
    display: table-cell;
    padding-left: 21px;
    zoom: 1;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 h2 {
    width: 335px;
    padding-top: 0;
    padding-bottom: 0;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special h2 {
    font-weight: normal;
}
.s-news-wrapper .s-news-list-wrapper .s-news-item h2 {
    position: relative;
    z-index: 0;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special h2 a {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    line-height: 20px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-item h2 {
    font-size: 18px;
    font-weight: normal;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special h2 .s-title-yahei {
    font-size: 18px;
    font-family: arial, 'Microsoft Yahei', '微软雅黑';
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 h2 a {
    line-height: 24px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special h2 a:hover {
    text-decoration: underline;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special h2 a:hover {
    color: #07f;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 h2 a:hover {
    text-decoration: underline;
}
.s-news-wrapper .s-news-list-wrapper .s-news-item h2 a:hover {
    color: #07f;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .del {
    display: none;
}
.s-news-wrapper .s-news-list-wrapper .s-news-item .from {
    color: rgba(0,0,0,0.5);
    color: #999\9;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .from {
    padding-top: 11px;
    padding-bottom: 19px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .from {
    color: rgba(0,0,0,0.4);
    color: #999\9;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    position: relative;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .from {
    width: 100%;
    position: relative;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-2 .s-block-container-own .from {
    padding-bottom: 0;
}
.s-news-wrapper .s-news-list-wrapper .s-news-item .from .src-net {
    margin-right: 10px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .from .src-net {
    margin-right: 6px;
}
.s-news-wrapper .s-news-list-wrapper .src-net a, .s-news-wrapper .s-news-list-wrapper .src-net a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    color: #999\9;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .src-net a, .s-news-wrapper .s-news-list-wrapper .s-news-special .src-net a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.4);
    color: #999\9;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .from .src-time {
    vertical-align: -1px;
    /*_vertical-align: auto;*/
    margin-right: 6px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .from .hot-point {
    color: #f13f40;
    border: 1px solid #efb9b9;
    font-size: 12px;
    line-height: 12px;
    padding: 0 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.s-news-list-wrapper .s-news-item .dustbin {
    position: absolute;
    right: -2px;
    top: 2px;
    background: url(../img/dustbin1_ec5b2acc.png) no-repeat;
    /*_background: url(../../img/news/dustbin1_ie_56faa2f8.png) no-repeat;*/
    background-position: -0px -0px;
    width: 15px;
    height: 15px;
    display: none;
}
.s-news-list-wrapper .s-news-special-item-tpl-2 .dustbin {
    background: url(../img/dustbin_new_41cbcb37.png) no-repeat;
    /*_background: url(../../img/news/dustbin_new_ie_deee0be3.png) no-repeat;*/
    background-position: -0px -19px;
    width: 19px;
    height: 15px;
    display: none;
    position: absolute;
    top: 11px;
    right: 0;
    zoom: 1;
}
.s-news-list-wrapper .s-news-item:hover .dustbin {
    display: block;
}
.s-news-list-wrapper .s-news-special-item-tpl-2:hover .dustbin {
    display: block;
}
.s-news-list-wrapper .s-news-special .dustbin:hover {
    background-position: -0px -0px;
    cursor: pointer;
}

.s-news-wrapper .s-news-list-wrapper .s-news-special {
    border-top: 1px solid #f0f0f0;
    position: relative;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFW…AAVcLTfgAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=) repeat;*/
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-1 {
    min-height: 197px;
    _height: 197px;
    overflow: visible;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-1 h2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 12px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special-item-tpl-1 .s-pic-content {
    width: 540px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .s-pic-content {
    height: 119px;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .s-pic-content .s-news-content-imgs {
    font-size: 0;
}
.s-news-wrapper .s-news-list-wrapper .item-img-wrap {
    display: inline-block;
    zoom: 1;
    height: 106px;
    width: 176px;
    overflow: hidden;
    position: relative;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .item-img-wrap {
    display: inline-block;
    zoom: 1;
    height: 119px;
    width: 180px;
    overflow: hidden;
}
.s-news-wrapper .s-news-list-wrapper .s-news-special .item-img-wrap img {
    height: 119px;
    width: 179px;
}
/*导航*/
.s-xmancard-nav {
    position: relative;
    padding: 10px 0 13px 25px;
}
.s-xmancard {
    min-height: 318px;
    _height: 318px;
}
.s-nav-wrapper {
    margin: 0 auto;
}
.s-nav-wrapper h1 {
    font-size: 14px;
    text-align: left;
    margin: 0 0 5px 11px;
    padding-top: 25px;
}
.s-nav-personal h1 {
    margin: 8px 0 4px;
    padding: 0;
}
.s-nav-wrapper .nav-item {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
    _margin-right: 12px;
    /*position: relative;*/
}
.s-nav-wrapper .nav-item .nav-block {
    position: relative;
    display: block;
    height: 65px;
    line-height: 65px;
    width: 126px;
    background-color: #fcfcfc;
}
.s-nav-wrapper .nav-block {
    border: 1px solid #fcfcfc;
}
.s-nav-personal .nav-item .nav-block {
    height: 58px;
    line-height: 58px;
    width: 126px;
}
.s-nav-wrapper .nav-item:hover .nav-block {
    border-color: rgba(0, 0, 0, .05);
}
.s-nav-wrapper .nav-item a img {
    position: absolute;
    left: 5px;
    top: -2px;
}
.s-nav-personal .nav-item a img {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 16px;
}
.s-nav-personal .nav-item .nav-txt {
    position: absolute;
    text-align: left;
    left: 44px;
    color: #333;
    font-size: 14px;
    padding: 0;
    max-width: 71px;
    _width: 71px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.s-nav-wrapper .nav-item .top-line {
    position: absolute;
    top: 0;
    height: 1px;
    background-color: #38f;
}
.s-nav-wrapper .nav-item .rebate {
    position: absolute;
    display: none;
    width: 100%;
    _width: 128px;
    left: 0;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    color: #fff;
    background: #ff8300;
}
.s-nav-wrapper .nav-item .rebate a {
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}
.s-xmancard-nav .s-nav-wrapper .nav-item .fanli-tag {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url("../img/fanli_40794035.png") repeat 0 0;
}
.s-xmancard-nav .fanli-patern .s-nav-wrapper .fanli-nav .fanli-tag {
    display: block;
}
.s-xmancard-nav .s-nav-wrapper .nav-item .fanli-tag a {
    display: inline-block;
    height: 16px;
    width: 16px;
}
#s_xmancard_nav .water-container .s-nav-wrapper .s-nav-area .nav-item .nav-block:hover {
    text-decoration: none;
}

/*我的关注*/
.s-xmancard-mine {
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 21px;
}
.s-xmancard {
    min-height: 318px;
    _height: 318px;
}

.s-code-blocks {
    position: relative;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 10px;
    _margin-bottom: 5px;
    background: url(../img/blank_796b451b.png) repeat;
    _overflow: hidden;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    _border: 0;
    _margin-top: 13px;
}
.s-block-nav .s-block-container {
    width: 844px;
    overflow: hidden;
}
.s-block-container {
    overflow: hidden;
}
.s-block-container {
    width: 844px;
    margin: 0 auto;
}
.s-code-blocks .s-mblock-title {
    position: relative;
    z-index: 0;
    height: 30px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding-bottom: 6px;
}
.s-code-blocks .title-content {
    height: 100%;
    line-height: 30px;
    cursor: pointer;
}

.mine-title .mine-title-icon, .mine-title .mine-title-text, .mine-title .mine-title-num {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.s-code-blocks .title-content .mine-title .mine-title-icon {
    position: relative;
    z-index: 0;
    font-size: 0;
    height: 10px;
    width: 10px;
    margin-right: 6px;
}
.s-code-blocks .title-content .mine-title .mine-title-icon em {
    position: absolute;
    top: 3px;
    left: 0;
    height: 0;
    line-height: 0;
    width: 0;
    font-size: 0;
    border: 5px dashed transparent;
    border-top: 5px solid #666;
}
.s-code-blocks .title-content .mine-title .mine-title-text {
    line-height: 30px;
    _line-height: 35px;
    height: 30px;
    font-weight: bold;
    margin-right: 4px;
}
.s-code-blocks .title-content .mine-title .mine-title-num {
    _line-height: 27px;
    height: 30px;
    color: #666;
}
.s-block-nav .s-mblock-content {
    text-align: left;
    position: relative;
    width: 850px;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAYAAACkJ9JhAAAAGXRFW…JlYWR5ccllPAAAABdJREFUeNpi+P//PwPD8CM+fPjwHyDAAMWihE8GZVHBAAAAAElFTkSuQmCC) repeat;*/
    /*_background: url(../../img/nav/lines/s_nplus_line_normal_ie_877fb42e.png) repeat;*/
    border-top: 1px solid #f0f0f0;
    padding-bottom: 15px;
}
.s-block-container .s-mblock-content {
    font-size: 14px;
}
.s-block-nav .s-mblock-content .dir-item .d-nav-item, .s-block-nav .s-mblock-content .nav-item {
    z-index: 2;
}
.s-block-nav .nav-item {
    display: inline-block;
    zoom: 1;
    height: 44px;
    line-height: 44px;
    width: 170px;
    cursor: pointer;
}
.s-block-nav .nav-item .border-for-item {
    display: block;
    height: 41px;
    width: 158px;
    border: 1px solid transparent;
    _border-color: tomato;
    _filter: chroma(color=tomato);
    text-decoration: none;
    color: #333;
}
.s-block-nav .nav-del, .s-block-nav .nav-icon, .s-block-nav .nav-text {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.s-block-nav .nav-del {
    display: none;
    margin: 10px 0 0 6px;
    height: 15px;
    width: 15px;
}
.s-block-nav .nav-del .del-icon {
    width: 100%;
    height: 100%;
}
.s-block-nav .nav-icon {
    margin-left: 15px;
}
.s-block-nav .nav-icon {
    margin-top: 12px;
}
.s-block-nav .border-for-item .nav-text {
    line-height: 41px;
    height: 41px;
}
.s-block-nav .nav-text {
    margin-left: 5px;
    text-align: left;
}
.s-block-nav .nav-text {
    width: 104px;
}
.s-block-nav .nav-text, .block-classed .nav-text {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.s-block-nav .nav-item-edit {
    display: none;
}
.s-block-nav .block-nav-fanli .nav-text .nav-text-content, .s-block-nav .block-nav-fanli .nav-text .s-fanli-tag {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.s-block-nav .border-for-item .nav-text .nav-text-content {
    max-width: 100%;
    _width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.s-block-nav .d-nav-item a:hover, .s-block-nav .nav-item a:hover {
    _border-color: #fff;
    background: #f5f5f5;
}
.sui-draggsort-collapse {
    visibility: hidden;
    width: 100%;
}




.s-more-bar {
    width: 90px;
    height: 45px;
    padding-top: 20px;
    margin: 0 auto;
    cursor: pointer;
    color: #999;
}
.s-more-bar .rect {
    height: 18px;
    width: 34px;
    font-size: 0;
    margin: 10px auto 0 auto;
    border: 0;
    background: url(../img/card_setts_fdb17359.png) no-repeat -1px -36px;
    /*_background: url(../img/card_setts_ie_57e87032.png) no-repeat -1px -36px;*/
    /*font-size: 0;*/
}
a:hover {
    text-decoration: underline;
}




.s-bottom-ctner {
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 12px;
    left: 0;
    overflow: hidden;
    color: #999;
    zoom: 1;
    margin: 0;
}
#bottom_container .no-qrcode-layer .lh {
    display: inline;
}
.s-bottom-ctner .sethome {
    margin-right: 12px;
}
.s-bottom-ctner a {
    font-size: 12px;
    text-decoration: underline;
    color: #999;
}
.s-bottom-ctner img {
    position: relative;
    margin: 0 0 -2px 0;
}
.recordcode {
    padding-top: 6px;
    height: 16px;
    line-height: 16px;
}
.recordcode a {
    text-decoration: none;
}
.recordcode a i {
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 6px;
    background: url(../img/icon-police.png?v=md5) 0 0 no-repeat;
    vertical-align: middle;
    margin-top: -4px;
}






.lefthide{
    z-index: 100000;
    width:85px;
    height: 100%;
    background-color: #f9f9f9;
    /*background-color: transparent;*/
    border-left:1px solid #e7e7e7;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    /*margin-left: 12px;*/
    /*margin-right: 12px;*/
    /*border-color: lightgrey;*/
    /*margin-top: 0;*/
    /*margin-right: 0;*/
    /*border:1px solid #F00;*/
    /*border-style: double;*/
    /*border: 5px;*/
    /*border-color: #4098ff;*/
    /*float:right;*/
    top:0;
    right: 0;
    /*margin-right: 0;*/
    /*padding-left: 9px;*/
    /*padding-right: 9px;*/
    position: absolute;
    /*#f9f9f9#e7e7e7*/
}
/*.bri4{*/
/*padding-top: 18px;*/
/*}*/
.lefthide_1{
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    /*position: absolute;*/
}
.bri2{
    color: #333;
    padding-top: 8px;
    padding-bottom: 18px;
    font-size:13px;
    text-align: center;
    margin-left: -1px;
    border-bottom: 1px solid #e7e7e7;
}
.bri3{
    /*text-align: center;*/

    /*padding-top: 18px;*/
    /*padding-bottom: 10px;*/

    /*padding-left: 5px;*/
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    width:100%;
    height:75px;
}
.bri_s{
    /*margin-left: 0;*/
    color: #666;
    /*text-decoration: none;*/
    position: relative;
    top: 52px;
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
    /*margin-top: 5px;*/
    /*left: 10px;*/
    /*display: inline-block;*/
    /*padding-left: ;*/
    /*text-align: center;*/
}
/*.bri_s{*/
/**text-align: center;*/
/*}*/
.bri_s:hover{
    text-decoration: underline;
}
.bri_s2{
    color: #666;
    /*text-decoration-color: #666;*/
    position: relative;
    text-decoration: none;
    top:18px;
}
.pic{
    /*margin: 0 auto;*/
    /*padding: 0;*/
    position: relative;
}
.fon{
    /*margin-left: 0;*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
    width:100%;
    height:75px;
    text-align: center;
}
.bri5{
    /*margin: 0;*/
    padding: 0;
    text-align: center;
}
.bri6{

    /*margin: 0 auto;*/
    /*display: block;*/
    /*padding-left: 13px;*/
    /*text-align: center;*/
}
.bri_a{
    margin-left: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width:100%;
    height:75px;
}
.bri_a2{
    /*text-decoration: dashed;*/
    text-decoration-color: #666;
}
.img1{
    position: absolute;
    /*display: inline-block;*/
    width:40px;
    height:36px;
    top:10px;
    left:-19px;
    background: #fff url(../img/bdbri_icons_0a62ce1.png) no-repeat -72px 0;
    /*cursor: pointer;*/
}
.img2{
    position: absolute;
    /*display: inline-block;*/
    width:36px;
    height:36px;
    top:10px;
    left:-17px;
    background: #fff url(../img/bdbri_icons_0a62ce1.png) no-repeat -112px 0;
    /*cursor: pointer;*/
}
.img3{
    position: absolute;
    /*display: inline-block;*/
    width:36px;
    height:36px;
    top:10px;
    left:-18px;
    background: #fff url(../img/bdbri_icons_0a62ce1.png) no-repeat -36px 0;
    /*cursor: pointer;*/
}
.img4{
    position: absolute;
    /*display: inline-block;*/
    width:36px;
    height:36px;
    top:10px;
    left:-18px;
    background: #fff url(../img/bdbri_icons_0a62ce1.png) no-repeat -148px 0;
    /*cursor: pointer;*/
}
.img5{
    position: absolute;
    /*display: inline-block;*/
    width:36px;
    height:36px;
    top:10px;
    left:-18px;
    background: #fff url(../img/bdbri_icons_0a62ce1.png) no-repeat -184px 0;
    /*cursor: pointer;*/
}
.lefthide a:hover{
    color: #666;;
}


/*更多产品*/
header nav .more{
    /*display: inline-block;*/
    position: absolute;
    right: 10px;
    width: 60px;
    height: 23px;
    float: left;
    color: #fff;
    background: #38f;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #38f;
    margin-left: 19px;
    margin-right: 2px;
    text-decoration: none;
}


.setting-menu:hover .baidu-setting{
    display: block;
}
.setting-menu{
    position: absolute;
    width:46px;
    height: 24px;
    right: 95px;
    font-size: 13px;
}
.baidu-setting a{
    text-decoration: none;
}
.baidu-setting{
    position: absolute;
    top:25px;
    left:3px;
    width:60px;
    border:1px solid #ddd;
    box-shadow: 1px 1px 5px #ddd;
    z-index: 99;
    display: none;
}
.baidu-setting a {
    margin: 0;
    display: inline-block;
    width:100%;
    text-align: center;
    color: #333;
}
.baidu-setting a:hover{
    color: #ffffff;
    background-color: #3385ff;
}

.icon-trangle{
    position: absolute;
    top:-11px;
    left:25px;
    width:0;
    height:0;
    display: block;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #d8d8d8;
}
.icon-trangle:after{
    content: '.';
    position: absolute;
    top:-4px;
    left:-5px;
    width:0;
    height:0;
    display: block;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #fff;
}


#scrolldiv{
    position: static;
    z-index: 10000;
    visibility: hidden;
    font: 12px arial, u5b8bu4f53;
    /*padding: 0px 2px 2px 0px;*/
    zoom: 1;
    height: 15px;
    width: 20px;
    border-radius: 3px;
}


/*回顶部*/
.s-mancacrd-main .top-feed {
    visibility: hidden;
    position: fixed;
    _position: absolute;
    left: 50%;
    margin-left: 447px;
    width: 51px;
    bottom: 30px;
    _top: 200px;
    _bottom: auto;
}
.s-mancacrd-main .top-feed .to-top, .s-mancacrd-main .top-feed .icon-qrcode {
    position: relative;
    height: 25px;
    width: 38px;
    padding-top: 12px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
}
.s-mancacrd-main .top-feed .to-top {
    height: 26px;
    margin: 0 0 6px 10px;
}
.s-mancacrd-main .top-feed .icon-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    line-height: 38px;
    width: 38px;
    z-index: 3;
    font-size: 13px;
    background-color: #eee;
    color: #999;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #e3e3e3;
}
.s-mancacrd-main .icon-mask .text {
    position: absolute;
    top: 4px;
    left: 4px;
    line-height: 16px;
    width: 30px;
}
.s-mancacrd-main .top-feed .to-top span {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../img/topfed_c531aae6.png) no-repeat -1px -10px;
    /*_background: url(../img/topfed_ie_a6a8d214.png) no-repeat -1px -10px;*/
}
.s-mancacrd-main .icon-over .icon-mask {
    display: block;
}
.s-mancacrd-main .top-feed .icon-over .icon {
    background: none;
}

