body{
    margin: 0;
    padding: 0;
    min-height: 800px;
    min-width: 960px;
    background: url("./img/back.JPEG") no-repeat;
    background-size:cover;
    /*background-color: antiquewhite;*/
}
header, footer{
    /*border-radius: 5%;*/
}
/*div{*/
/*border-radius: 20%;*/
/*}*/
header{
    height: 100px;
    width:100%;
    background-color: antiquewhite;
}
header h1{
    padding: 0;
    margin: 0;
}
footer{
    height: 100px;
    width:100%;
    background-color: antiquewhite;
}
.wrapper{
    /*width: 100%;*/
    /*height: 400px;*/
    /*background-color: chartreuse;*/
    overflow: hidden;
    min-height: 600px;
    /*padding-left: 200px;*/
    /*padding-right: 200px;*/
}
.left{
    width:300px;
    /*height: 18px;*/
    /*margin-bottom: -9999px;*/
    /*padding-bottom: 9999px;*/
    float: left;
    background-color: transparent;
    margin-left: -100%;
    text-align: center;
    /*position: relative;*/
    /*left:-200px;*/
}
.right{
    width: 300px;
    /*height: 18px;*/
    /*float: right;*/
    background-color: transparent;
    float: left;
    margin-left: -200px;
    /*position: relative;*/
    /*right: -200px;*/
}
.middle{
    width:100%;
    /*background-color: whitesmoke;*/
    float: left;
}
.left, .middle, .right{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.inner{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 0;
    margin-bottom: -18px;
    padding: 0;
    height: 100%;
    background-color: whitesmoke;
}
.article{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    position: relative;
}
/*.article p:first-child{*/
    /*padding-top: 0;*/
/*}*/
/*.article p:last-child{*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
.pleft{
    position: relative;
    /*left:20px;*/
    padding: 0 20px;
}
.con{
    text-align: center;
}